<% if (locals.errorMessage != null) { %> 
    <div class="container">
        <div class="card border-danger mb-3" style="max-width: 500px; margin:auto">
            <div class="card-body text-danger">
                <p class="card-text" style="text-align: center;"><%= errorMessage  %></p>
            </div>
        </div>
    </div>
<% } %> 