<footer>
    <div id="#footer" class="card mb-3 bg-dark shadow" style="max-width: 600px;margin:auto">
        <div class="card-body text-white text-center">
            Made with <i class="far fa-heart fa-xs"></i> by <a href="https://github.com/extremq" target="_blank" style="color:white; text-decoration: white dotted underline;text-decoration-thickness: 1px;">extremq</a>.
        </div>
    </div> 
</footer>