<header class="mb-3">
    <nav class="container" style="text-align: center;">
        <h1><a href="/" style="text-decoration: none;color:#212529">shobi.</a></h1>
        <a href="/posts" style="color:#212529">Posts</a>
        |
        <a href="/posts/new" style="color:#212529">Add post</a>
    </nav>
</header>