<header>
    <div class="container">
        <nav class="navbar navbar-expand-sm fixed-top navbar-light" style="background-color: #fff; border-bottom-style: solid; border-width: 1px; border-color:gainsboro;">
            <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
                <a class="navbar-brand" href="/">shobi.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarsExample11">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/posts">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/posts/new">Add post</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </nav>
    </div>
</header>