<header>
    <nav>
        <a href="/">shobi.</a>
        <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/posts/new">Add post</a></li>
        </ul>
    </nav>
</header>