<% if (locals.successMessage != null) { %> 
    <div class="container">
        <div class="card border-success mb-3 shadow-sm" style="max-width: 600px; margin:auto">
            <div class="card-body text-success">
                <p class="card-text" style="text-align: center;"><%= successMessage %></p>
            </div>
        </div>
    </div>
<% } %> 