<div class="container">
    <div class="card mb-3" style="max-width: 600px; margin: auto">
        <div class="card-body">
            <h1 class="display-6 card-title mb-3" style="text-align: center;">New one-time authentication key:</h1>
            <p class="lead" style="text-align: center;"><%= key %></p>
        </div>
    </div>
</div>