<label>Image link</label>
<input type="text" name="imgLink" value="<%= post.imgLink %>">
<label>Tags (you can only use lowercase alphanumeric characters, _, -)</label>
<input type="text" name="tags" pattern="[a-z0-9_- ]+"  placeholder="Enter tags separated by one space" value="<%= post.tags %>">