<h2>Search posts</h2>
<form action="/posts" method="get">
    <label>By tag</label>
    <input type="text" name="tags" pattern="[a-z0-9_- ]+" value="<%= searchOptions.tags?.$all.join(' ') %>">
    <button type="submit">Search</button>
</form>
<br>
<% posts.forEach(post => { %>
    <div><img src="<%- post.imgLink %>" width="500px"></div>
<% }) %>